openapi: 3.0.3
info:
  title: Bored Activities Websites API
  version: 2.0.0
  summary: A Free and Simple API to Help You Find Something Better to Do
  description: The Bored API is a free, no-authentication public API that returns suggestions for things to do when you are bored. The canonical implementation is the open-source MEVN (MongoDB / Express / Vue / Node) project maintained by Drew Thoennes at github.com/drewthoennes/Bored-API. The historically hosted instance at https://www.boredapi.com/ has been intermittently or fully unreachable since 2024 (originally hosted on Heroku); community mirrors such as https://bored-api.appbrewery.com continue to serve the dataset. This specification documents both the v1 (legacy, activities-only) and v2 (activities + facts + riddles + websites + suggestions) surfaces of the canonical Drew Thoennes implementation so the API contract is preserved for self-hosting and historical reference.
  contact:
    name: Drew Thoennes
    url: https://github.com/drewthoennes/Bored-API
  license:
    name: MIT
    url: https://github.com/drewthoennes/Bored-API/blob/master/license
  x-status: deprecated-hosted-instance
  x-status-notes: The official hosted instance at https://www.boredapi.com/ is no longer reliably reachable. The reference implementation remains open source and can be self-hosted. The App Brewery community fork (https://bored-api.appbrewery.com) provides an actively maintained hosted mirror with a slightly different path scheme.
servers:
- url: https://www.boredapi.com
  description: Original hosted instance (historically; intermittent / dead as of 2024)
- url: http://localhost:8080
  description: Self-hosted local instance (npm install && npm start)
tags:
- name: Websites
  description: Random or keyed website recommendations (v2 only).
paths:
  /api/v2/websites:
    get:
      tags:
      - Websites
      summary: Get a Random Website
      description: Returns a single random website recommendation.
      operationId: getRandomWebsite
      responses:
        '200':
          description: A random website.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsiteEnvelope'
        '400':
          $ref: '#/components/responses/Error'
  /api/v2/websites/{key}:
    get:
      tags:
      - Websites
      summary: Get a Website by Key
      description: Returns the website matching the supplied key.
      operationId: getWebsiteByKey
      parameters:
      - $ref: '#/components/parameters/KeyPathParam'
      responses:
        '200':
          description: The website matching the supplied key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsiteEnvelope'
        '400':
          $ref: '#/components/responses/Error'
components:
  responses:
    Error:
      description: Bad request or query argument error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Failed to query due to error in arguments
      required:
      - error
    WebsiteEnvelope:
      type: object
      properties:
        website:
          $ref: '#/components/schemas/Website'
      required:
      - website
    Website:
      type: object
      properties:
        url:
          type: string
          format: uri
          example: https://thisissand.com/
        description:
          type: string
          example: Create digital sand art in your browser.
        key:
          type: string
          example: '9988776'
      required:
      - url
      - description
      - key
  parameters:
    KeyPathParam:
      name: key
      in: path
      required: true
      description: Unique key identifying the resource.
      schema:
        type: string
